/* COMMON */
.clear::after {
    clear: both;
    display: table;
    content: '';
}

.section-heading{
    font-family: 'museo_sans_cyrl';
    font-size: 32px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 12px;
    color: #000;
    text-align: center;
    padding: 30px 0px;
}

/* STEPS */
.steps {
    margin-bottom: 50px;
}

.steps__item {
    padding: 20px;
    text-align: center;
    position: relative;
}

.steps__icon {
    height: 60px;
    width: 60px;
    margin-bottom: 30px;
}

.steps__heading {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    opacity: 0.8;
    font-weight: 500;
    margin-bottom: 20px;
}

.steps__content {
    font-size: 16px;
    line-height: 24px;
}

.steps__arrow {
    width: 8px;
    height: 40px;
    margin-top: 30px;
}

@media screen and (min-width: 1200px) {
    .steps__item  {
        width: 25%;
        float: left;
    } 

    .steps__arrow {
        position: absolute;
        top: 20px;
        right: 0;
        transform: rotate(-90deg);
    }
}

/* BIG 4 BLOCKS */
.technology__brand-item {
    width: 50%;
    float: left;
    margin: 50px 0;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .technology__brand-item {
        width: 25%;
        text-align: left;
    } 
}

.technology--manufacturing {
    position: relative;
}

.technology--manufacturing .technology__left {
    min-height: 600px;
}

.technology--manufacturing .technology__right {
    min-height: 600px;
}

.technology__brands {
    margin-bottom: 30px;
}
