/* COMMON */
.clear::after {
    clear: both;
    display: table;
    content: '';
}

.section-heading{
    font-family: 'museo_sans_cyrl';
    font-size: 32px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 12px;
    color: #000;
    text-align: center;
    padding: 30px 0px;
}


/* HEADER */


@media screen and (min-width: 1200px) {
    .card {
        padding: 115px 125px 50px 0;
    }
}

.card-subtitle {
    margin-top: 17px;
    font-size: 32px;
    line-height: 40px;
    color: #00C7FF;
    margin-bottom: 30px;
    font-size: 24px;
}


.card-buttons-getconsultation {
    font-size: 16px;
    line-height: 32px;
    color: #FFFFFF;
    background: #F1574B;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    padding: 15px 25px;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 36px;
    margin-right: 50px;
}

.card-buttons-getconsultation:hover {
    cursor: pointer;
}

.card-buttons-watchcvideo {
    display: inline-block;
    font-size: 16px;
    line-height: 21px;
    position: relative;
    color: #FFFFFF;
    padding-left: 70px;
    cursor: pointer;
}
.card-buttons-watchcvideo > svg {
    margin-right: 17px;
    position: absolute;
    top: -18px;
    left: 0;
}

@media (min-width: 1200px) {

    .card-subtitle {
        font-size: 32px;
    }

    .card-buttons-watchcvideo {
        margin-bottom: 40px;
    }
}

/** GOODS */

.goods {
    color: #272727;
    margin-bottom: 50px;
    position: relative;
}

.goods.container {
    padding: 0;
    margin-top: 30px;
}

.goods__content {
    font-size: 16px;
    line-height: 24px;
    padding: 30px;
}

.goods__img {
    max-width: 100%;
}

.goods__items {
    padding: 0 70px;
    margin-top: 20px;
}

.goods__item {
    display: inline-block;
    background: #C5EFFF;
    padding: 21px 20px;
    text-align: center;
    font-size: 20px;
    border: none;
    outline: none;
    width: 100%;
    margin-bottom: 8px;
    height: 61px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    display: block;
}

@media screen and (min-width: 1200px) {
    .goods {
        height: 600px;
    }

    .goods__img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }

    .goods__content {
        width: 780px;
        padding: 30px 90px;
        font-size: 21px;
        line-height: 31px;
    }
    
    .goods__items {
        width: 780px;
        padding: 30px 90px;
    }

    .goods__item {
        width: 45%;
        float: left;
        margin-right: 18px;
    }

    .goods__item:nth-child(2n) {
        margin-right: 5%;
        margin-bottom: 2.5%;
    }
}

/** COOPERATION */

.cooperation {
    color: #272727;
}

.cooperation.container {
    padding: 0;
}

.cooperation__item {
    margin-bottom: 20px;
}

.cooperation__header {
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    position: relative;
    margin-bottom: 20px;
}

.cooperation__header > span{
    color: #00AEEF;
    position: absolute;
    left: -1em;
}

.cooperation__content {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
}

.cooperation__list {
    font-size: 18px;
    line-height: 28px;
}

.cooperation__list > li {
    position: relative;
}

.cooperation__list > li:before {
    content: "\2022";  
    color: #00AEEF; 
    font-weight: bold; 
    display: inline-block;
    position: absolute;
    top: -1px;
    left: -18px;
}

.cooperation__img {
    width: 100%;
}

.cooperation__article {
    padding: 30px 20px 30px 50px;
}

@media screen and (min-width: 1200px) {
    .cooperation__img {
        width: 50%;
    } 

    .cooperation__article {
        width: 50%;
        padding: 80px 80px 80px 100px;
    }

    .cooperation__header {
        font-size: 40px;
        line-height: 48px;
    }

    .cooperation__item:nth-child(2n-1) .cooperation__img {
        float: left;
    }

    .cooperation__item:nth-child(2n-1) .cooperation__article  {
        float: right;
    }

    .cooperation__item:nth-child(2n) .cooperation__img{
        float: right;
    }

    .cooperation__item:nth-child(2n) .cooperation__article {
        float: left;
    }
}

/* STEPS */
.steps {
    margin-bottom: 50px;
}

.steps__item {
    padding: 20px;
    text-align: center;
    position: relative;
}

.steps__icon {
    height: 60px;
    width: 60px;
    margin-bottom: 30px;
}

.steps__heading {
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #272727;
    font-weight: 500;
    margin-bottom: 20px;
}

.steps__content {
    font-size: 16px;
    line-height: 24px;
}

.steps__arrow {
    width: 8px;
    height: 40px;
    margin-top: 30px;
}

@media screen and (min-width: 1200px) {
    .steps__item  {
        width: 25%;
        float: left;
    } 

    .steps__arrow {
        position: absolute;
        top: 20px;
        right: 0;
        transform: rotate(-90deg);
    }
}

/* BIG 4 BLOCKS */
.technology__brand-item {
    width: 50%;
    float: left;
    margin: 50px 0;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .technology__brand-item {
        width: 25%;
        text-align: left;
    } 
}

.technology--manufacturing {
    position: relative;
}

.technology--manufacturing .technology__left {
    min-height: 600px;
}

.technology--manufacturing .technology__right {
    min-height: 600px;
}

.technology__brands {
    margin-bottom: 30px;
}

.technology__brands img {
    margin-bottom: 30px;
}


/* CONTACTS */

.contacts-bg {
    display: none;
}

@media (min-width: 1200px) {

    .contacts-bg {
        display: block;
        position: absolute;
    }

    #leave-sm {
        left: -13px;
        top: -84px;
    }

    #leaves {
        right: -476px;
        top: -97px;
    }

    #tube {
        left: -559px;
        top: -73px;
    }

}

.contacts-container {
    padding: 100px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #EFE4DF;
}

.contacts {
    padding: 90px 120px;
    max-width: 800px;
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 19px 25px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: inherit;
    position: relative;
}

.contacts-title {
    font-size: 44px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -1px;
    color: #272727;
}

.contacts-subtitle {
    font-style: normal;
    font-weight: 300;
    margin-top: 22px;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #272727;
    mix-blend-mode: normal;
}

.contacts-links {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #272727;
    mix-blend-mode: normal;
}

.contacts-links > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    word-wrap: unset;
}

.contact-links-phone-number {
    color: black;
    font-weight: bold;
}

.contacts-button {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    background: #F1574B;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    text-align: center;
    width: auto;
    padding: 10px 35px;
}

.contacts-button:hover {
    cursor: pointer;
}

/** POPUP */
.popup-call-container, .popup-vimeo-container {
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
    position: fixed;
    background: rgba(0, 0, 0, 0.4);
}

.popup-call-container, .popup-vimeo-container {
    justify-content: center;
    align-items: center;
}

.popup-call-container.is-active, .popup-vimeo-container.is-active {
    display: flex;
}

.popup-call {
    background: #C5EFFF;
    width: 857px;
    height: 501px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.popup-call-title {
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -1px;
    color: #000000;
}

.popup-call-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #272727;
    margin-bottom: 21px;
}

.popup-call-button-submit {
    background: #00AEEF;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
    padding: 18px 40px 15px 40px;
    color: white;
    font-family: GloberM;
    margin-bottom: 50px;
    margin-top: 24px;
    cursor: pointer;
}

.popup-call-button-close {
    text-align: right;
    width: 100%;
    padding-top: 15px;
    padding-right: 30px;
    cursor: pointer;
}

.popup-call-button-close > i {
    padding-top: 15px;
    padding-right: 30px;
}

.popup-call-input {
    margin: 0 8px;
}

.popup-call-input > input {
    height: 48px;
    width: 487px;
    padding: 0 18px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #D9D9D9;
}

@media (max-width: 768px ) {
    .popup-call-container {
        align-items: flex-start !important;
    }
    .popup-call {
        height: 532px;
    }

    .popup-call-input > input {
        width: 80vw !important;
    }
}

.popup-vimeo{
    background: #fff;
    position: relative;
}

.popup-vimeo-button-close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}

.popup-vimeo-content {
    position: relative;
    height: 100%;
}